* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.sectionsH {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.innerH {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
}
/*2e3529   3a352f*/
.section1-himors{
  background-color: #1b1a17;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.section1-himors::before {
  content: "HIMARS";
  position: absolute;
  top: 55%;
  left: 48%;
  transform: translate(-50%, -50%) scaleY(1.3);
  font-size: 15vw;
  max-width: 80vw;
  font-weight: 800;
  color: rgba(255, 223, 195, 0.05);
  text-transform: uppercase;
  z-index: 0;
  pointer-events: none;
}

.container-text {
  margin-top: 6%;
  margin-left: 4%;
  padding: 20px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.titles-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 130px;
}

.title-t3 {
  font-size: 3.3rem;
  font-weight: 800;
  color: #f2e4d8;
}

.text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 130px;
}

.description-t3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  line-height: 1.5;
  max-width: 500px;
  text-align: left;
  color: #c5b3a3;
}

.details-button {
  background-color: transparent;
  color: #ffdfc3;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 22px;
  border: 2px solid #d98342;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0 0 5px #d98342;
  box-shadow:
    0 0 10px #d98342,
    0 0 18px rgba(217, 131, 66, 0.5),
    inset 0 0 5px rgba(217, 131, 66, 0.25);
  background-clip: padding-box;
}
.details-button:hover {
  background-color: rgba(217, 131, 66, 0.1);
  box-shadow:
    0 0 12px #d98342,
    0 0 24px #d98342,
    inset 0 0 8px #d98342;
  transform: scale(1.05);
}


.modelH-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.modelH-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(255, 140, 50, 0.09) 0%,
    rgba(0, 0, 0, 0.5) 90%
  );
  pointer-events: none;
  z-index: 1;
}

.sectionHimars{
  background-color: #1b1a17;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
}


/* Ліва частина — опис */
.description-container {
  margin-top:50px;
  flex: 1;
  max-width: 210px;
  text-align: left;
  margin-left:13%;
}

.description-title {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: left;
  color: #f2e4d8;
}

.description-text {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: left;
  color: #c5b3a3;
}

.model-himars-container {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:120px
}
.model-himars-container::after {

  pointer-events: none;
  z-index: 1;

    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(255, 140, 50, 0.09) 0%,
    rgba(0, 0, 0, 0.5) 90%
  );
  pointer-events: none;
  z-index: 1;
}

.specs-column {
  width: 180px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top:100px;
  margin-right: 180px;
  align-items: flex-end;
}

.spec-item {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.spec-name {
  font-size: 30px;
  font-weight: 800;
color: #f2e4d8;
  text-shadow:
    0 0 8px #d98342,
    0 0 15px #d98342,
    0 0 25px rgba(217, 131, 66, 0.6),
    0 0 40px rgba(217, 131, 66, 0.4);
  margin-bottom: 4px;
}

.spec-value {
  font-size: 17px;
  font-weight: normal;
  color: #c5b3a3;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.light-rays-himars {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 850px;
  height: 850px;
  background: radial-gradient(
    circle,
    rgba(217, 131, 66, 0.1) 0%,
    rgba(150, 80, 40, 0.2) 40%,
    rgba(90, 40, 20, 0.08) 65%,
    transparent 85%
  );
  transform: translate(-50%, -50%);
  filter: blur(90px);
  z-index: 0;
  pointer-events: none;
}

.light-rays-himars2 {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 850px;
  height: 850px;
  background: radial-gradient(
    circle,
    rgba(217, 131, 66, 0.1) 0%,
    rgba(150, 80, 40, 0.2) 40%,
    rgba(90, 40, 20, 0.08) 65%,
    transparent 85%
  );
  transform: translate(-50%, -50%);
  filter: blur(90px);
  z-index: 0;
  pointer-events: none;
}


@media screen and (max-width: 920px) {
  .sectionsH {
    flex-direction: column;
    height: auto;
  }

  .innerH {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .section1-himors {
    height: auto;
    padding: 40px 20px;
    align-items: center;
  }

 .section1-himors::before {
    font-size: 21vw;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1.2);
    max-width: 85vw;
  }

  .container-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-right: 0%;
    padding: 0;
  }

  .titles-container {
    margin-left: 0;
    align-items: center;
  }

  .title-t3 {
    font-size: 3rem;
    text-align: center;
  }

  .text-right {
    margin-right: 0;
    align-items: center;
  }
.details-button {
  font-size: 1.3rem;
}
  .description-t3 {
    font-size: 1.4rem;
    max-width: 85%;
    text-align: center;
    margin-top: 5px;
  }

  .modelH-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sectionHimars {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px 20px;
  }

  .description-container {
    margin-left: 0;
    margin-right: 0%;
    margin-top: 20px;
    max-width: 90%;
    text-align: center;
  }

  .description-title {
    font-size: 3rem;
    text-align: center;
  }

  .description-text {
    font-size: 1.4rem;
    text-align: center;
  }

  .model-himars-container {
    margin-top: 30px;
    margin-right: 5%;
    margin-bottom: 10px;
  }

  .specs-column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    margin-right: 5%;
    width: 100%;
    gap: 20px;
  }

  .spec-item {
    align-items: center;
    text-align: center;
    min-width: 40%;
  }

  .spec-name {
    font-size: 2rem;
  }

  .spec-value {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .light-rays-himars {
  position: absolute;
  top: 70%;
  left: 45%;
}

.light-rays-himars2 {
  position: absolute;
  top: 50%;
  left: 45%;
}
}
@media (max-width: 576px) {
.title-t3{
  font-size: 2.5rem;
  text-align: center;
 }

  .description-t3 {
    font-size: 1.2rem;
    max-width: 80%;
  }
  .details-button {
  font-size: 1.1rem;
}
 .section1-himors::before {
    font-size: 20vw;
    top: 60%;
  }
   .modelH-container {
    margin-right: 10%;
  }

  .description-title {
    font-size: 2.5rem;
    margin-bottom: 7%;
  }
  .description-text {
    font-size: 1.2rem;
    width: 85%;
    margin-left: 8%;
  }
  .specs-column {
    margin-top: 25%;
    width: 100%;
    gap: 15px;
    margin-right: 4%;
  }

  .description-container {
    margin-right: 0%;
  }
  .spec-name {
    font-size: 1.9rem;
  }
  .spec-value {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .light-rays-himars {
  position: absolute;
  top: 85%;
  left: 45%;
 }

.light-rays-himars2 {
  position: absolute;
  top: 40%;
  left: 45%;
 }
}
