
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  .sectionsB {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .innerB {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  /*#aaa9a9*/
  .page-section{
    background-color: #9ca3ad;
  }
.tech2-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  .text-container {
    text-align: center;
    align-items: center;
   margin-top: 10px;
   margin-right: 45px;
    width: 700px;
    display: flex;
    flex-direction: column;
  }

  .tech2-title {
    margin-top: 50px;
    margin-right: 30px;
  }

  .tech2-model-wrapper {
    display: flex;
    justify-content: center;
   width: 100%;
   max-width: 100%;
   height: 900px;
   margin-top: 5px;
   margin-right: 100px;
  }
  .tech2-title {
    text-align: left;
    font-size: 3rem;
    font-weight: 750;
    color: #000;
    margin-bottom: 15px;
  }
  .tech2-description {
    text-align: left;
    color: #000;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: center;
  }
  .bayractar-button{
    background-color: #7083a3;
    color: #282828;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    margin-right: 25px;
    text-align: left;
  }

  /*b*/
.section1-page {
  background-color: #8e99ab;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1-page::before {
  content: "BAYRAKTAR";
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%) scaleY(1.3);
  font-size: 13.8vw;
  max-width: 40vw;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  z-index: 0;
  pointer-events: none;
}
.section1-page::after {
  content: "TB2";
  position: absolute;
  top: 75%;
  left: 48%;
  transform: translate(-50%, -50%) scaleY(1.3);
  font-size: 13.8vw;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.08);
  text-transform: uppercase;
  z-index: 0;
  pointer-events: none;
}

.innerB {
  position: relative;
  z-index: 1;
}

.drone-info {
  margin-top: 310px;
  width: 200px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.drone-info.left {
  text-align: left;
}

.drone-info.right {
  align-items: flex-end;
  margin-right: 50px;
}

.drone-value {
  font-size: 32px;
  font-weight: 800;
  color: #222;
  margin-bottom: 4px;
}

.drone-label {
  font-size: 17px;
  font-weight: normal;
  color: #666;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.container-model {
  margin-top: 220px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-model canvas {
  width: 600px;
  height: 80vh;
}

/*$*/
.price-tag {
  position: absolute;
  bottom: 100px;
  left: 48%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.price-value {
  font-size: 24px;
  font-weight: bold;
  color: #eceef1;
}
